.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
  font-size: 1.2rem;
  line-height: 2rem;
}

.title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
  box-shadow: 0 1px #a2a9b1;
  align-items: center;
}

.subtitle {
  margin-bottom: 1rem;
}

.summary,
.sectionText {
  margin-bottom: 1rem;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
  box-shadow: 0 1px #a2a9b1;
  align-items: center;
}
