.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.title {
  font-size: 2rem;
  line-height: 3rem;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
  box-shadow: 0 1px #a2a9b1;
  align-items: center;
}

.subtitle {
  margin-bottom: 1rem;
}

.summary,
.sectionText {
  margin-bottom: 1rem;
}

.paragraph {
  margin-bottom: 0.7rem;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
  box-shadow: 0 1px #a2a9b1;
  align-items: center;
}

.subsectionTitle {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
  align-items: center;
}

/* For mobile phones: */
.infobox {
  border: 1px solid #a2a9b1;
  border-spacing: 3px;
  background-color: #f8f9fa;
  color: black;
  padding: 1em;
  font-size: 88%;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .infobox {
    margin: 0.5em 0 0.5em 1em;
    float: right;
    clear: right;
    width: 22em;
  }
}

.imageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.image {
  max-width: 100%;
  margin-bottom: 0.7em;
}

.lightboxContainer {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightboxImage {
  max-height: 80vh;
  max-width: 90vw;
  object-fit: cover;
}

.lightboxCaption {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem;
}

.lightboxControls {
  color: white;
  font-size: 3rem;
  padding: 1rem;
  cursor: pointer;
}
